
body {
  background-color: darkgreen;
}

#board {
  width: 900px;
  height: 500px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

.paddle{
  background-color: rgb(255, 255, 255);
  width: 25px;
  height: 110px;
  border-radius: 15px;
  position: absolute;
}
#paddleRight {
  left: 866px; 
  top: 150px;  
}

#paddleLeft {
  left: 10px; 
  top: 150px;  
}

#ball{
  background-color: white;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50px;
  left: 435px;
  top: 220px;
}