
body {
  
  background-image: linear-gradient(blue, black);
  background-size:cover;
}

#board {
  width: 900px;
  height: 500px;
  border: 1px solid white;
  position: relative;
  background-image: linear-gradient(white, black);
  margin-left: auto;
  margin-right: auto;
  
}

.paddle{
  background-image: linear-gradient(white, black);
  width: 25px;
  height: 100px;
  border-radius: 20px;
  position: absolute;
  
}
#paddleRight {
  left: 866px; 
  top: 150px;
}

#paddleLeft {
  left: 10px; 
  top: 150px;  
}

#ball{
  background-image: linear-gradient(blue, gray);
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50px;
  left: 435px;
  top: 220px;
}

#centerLine {
  position: absolute;
  left: 50%; 
  top: 0;
  height: 100%; 
  width: 2px; 
  border-left: 2px dashed rgb(255, 255, 255); 
  transform: translateX(-50%); /*asked chat gpt how to directly center the line */
}

.scores {
  position: absolute;
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  font-weight: bold;
  transform: translateX(-50%);
  box-shadow: 10px 10px;

}

#scoreLeft{
  top: 10px;
  left: 24.5%;
}

#scoreRight{
  top: 10px;
  right:6.5%;
}

#playAgainButton{
  text-align: center;
  background-color: rgb(9, 48, 166);
  position: absolute;
  padding: 15px;
  border: none;
  border-radius: 5px;
}
#playAgainButton:hover{
  background-color: whitesmoke;
}
.title{
  transform: translateX(47.5%);
  color: white;
  font-size: 45px;
}